@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@300;700&display=swap");

* {
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.nav-container {
  width: 100vw;
  position: fixed;
  z-index: 8;
}

.icons-container {
  font-size: 15px;
  background-color: #688f1e;
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: space-evenly;
  color: white;
}

.email,
.bi {
  color: white;
}

.nav {
  background-color: #f5f5f5;
  padding: 1rem;
  display: flex;
}

.logo {
  width: 50vw;
  color: #688f1e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.first {
  color: #000000;
}

#leaf {
  color: #688f1e;
}

.logo-text,
.first {
  font-family: "Montserrat Subrayada", sans-serif;
  font-size: 2.2rem;
}

.nav-section {
  display: flex;
  width: 100%;
}

.nav-menu {
  width: 55vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0;
}

.toggle-button {
  position: absolute;
  top: 4.75rem;
  right: 2.25rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #688f1e;
  border-radius: 10px;
}

.nav-link {
  text-decoration: none;
  color: #688f1e;
}

.nav-link:hover {
  color: #090a09;
}

.nav-btn {
  background-color: #f17312;
  border-radius: 10px;
  border: none;
}

.nav-btn:hover {
  transform: scale(1.05);
}

#links {
  text-decoration: none;
  color: white;
  text-align: center;
}
.landing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/landing.png");
  background-position: center center;
  background-size: cover;
  height: 75vh;
  margin-top: 132px;
  text-align: center;
}

.welcome {
  width: 50%;
  top: 30%;
  text-align: center;
  margin: auto;
  position: relative;
  color: white;
}

.welcome-center {
  color: white;
  font-size: 42px;
  text-align: center;
  font-family: "Montserrat Subrayada", sans-serif;
}

.welcome text {
  font-weight: 200;
  font-size: 40px;
  text-align: center;
}

.services {
  text-align: center;
  padding: 3rem;
  display: flex;
}

.service-img {
  background-image: url("./images/mowing-lawn.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 1.5rem;
  width: 50%;
  height: 60vh;
  top: 25%;
  border-radius: 10px 10px 10px 10px;
}

.service-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: right;
  margin: 1.5rem;
  width: 55%;
}

.service-title {
  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: 700;
}

.services-list {
  padding: 1rem;
}

.grid-list {
  text-align: justify;
  list-style-type: none;
  color: #f17312;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  columns: 2;
}

.list-item {
  text-align: left;
}

.list-item #leaf {
  justify-content: center;
  font-size: 16px;
  padding: 0.25rem 0.25rem 0;
  color: #688f1e;
}

.horizontal-bar {
  width: 80%;
  margin: auto;
  padding: auto;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  color: #363636;
}

.contact {
  padding: 3rem;
}

.contact-title {
  text-align: center;
  color: #00050b;
  font-family: "Montserrat Subrayada", sans-serif;
}

.contact-hours {
  width: 100%;
  text-align: center;
  margin: auto;
}

.contact-hours-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.hours {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
}

.footer {
  text-align: center;
  margin: 1rem 0;
  color: #688f1e;
}

#footer-btn {
  display: none;
}

.footer-list {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  font-size: 1rem;
}

.footer-links {
  text-decoration: none;
  color: #688f1e;
  align-items: center;
}

.footer-links:hover {
  color: #090a09;
}

.footer-text {
  margin: 1rem;
  font-size: 1rem;
}

@media (max-width: 900px) {
  .nav-section {
    display: block;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .nav-menu.active {
    display: flex;
  }

  .toggle-button {
    display: flex;
    z-index: 7;
  }

  .logo {
    width: 75vw;
  }

  #nav-btn {
    display: none;
  }

  .landing {
    margin-top: 84px;
  }

  .services {
    display: block;
  }

  .service-img {
    margin: auto;
    width: 90%;
    height: 45vh;
    border-radius: 10px 10px 10px 10px;
  }

  .service-list {
    margin: 1rem auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .service-title {
    font-family: "Montserrat Subrayada", sans-serif;
    font-weight: 700;
  }

  #contact-btn {
    display: flex;
    margin: 1rem auto;
  }
}

@media (max-width: 650px) {
  .landing {
    margin-top: 170px;
  }

  .welcome {
    top: 25%;
  }

  .footer-list {
    display: inline-block;
    padding: 0 3rem 0 0.2rem;
    columns: 2;
    width: 90%;
  }
}
